<!-- ko with: home -->
<div class="jumbotron">
    <h1>Salão na Web</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2> Bem vindo ao Salão na Web</h2>
        <p>
            Salão na Web é a forma mais rápida e prática de você agendar
            serviços como: cortes de cabelo, hidratações, escovas.
            Sempre buscando o melhor preço e o salão mais próximo de você.
        </p>
    </div>
    <div class="col-md-6">
        <h2> Aproveite para disfrutar dos nossos serviços</h2>
        <p> Visite nossa página no Facebook.</p>
        <p> <a class="btn btn-default" href="http://www.facebook.com/salao.na.web"> Clique aqui e curta nossa página.</a></p>
    </div>
</div>
<!-- /ko -->
