<!-- ko with: login -->

<div class="row">
    <section class="col-md-8">
        <form class="form-horizontal" role="form">
            <h4>Acesse sua conta.</h4>
            <hr />
            <ul class="text-danger" data-bind="foreach: errors">
                <li data-bind="text: $data"></li>
            </ul>
            <div class="form-group">
                <label for="LoginUserName" class="col-md-2 control-label">Login</label>
                <div class="col-md-10">
                    <input type="text" id="LoginUserName" class="form-control" data-bind="value: userName, hasFocus: true" />
                </div>
            </div>
            <div class="form-group">
                <label for="LoginPassword" class="col-md-2 control-label">Senha</label>
                <div class="col-md-10">
                    <input type="password" id="LoginPassword" class="form-control" data-bind="value: password" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        <input type="checkbox" id="LoginRememberMe" data-bind="checked: rememberMe" />
                        <label for="LoginRememberMe">Lembrar-me?</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary glyphicon glyphicon-user" data-bind="click: login, disable: loggingIn"> Acessar</button>
                </div>
            </div>
            <p><a href="#" data-bind="click: register">Registre-se</a> se você não tiver uma conta cadastrada.</p>

        </form>
    </section>
    <section class="col-md-4">
        <h4>Use outro serviço para fazer login.</h4>
        <hr />
        <div data-bind="visible: loadingExternalLogin">Carregando...</div>
        <div data-bind="visible: !loadingExternalLogin()">
            <div data-bind="visible: !hasExternalLogin()">
                <p>
                    There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
            </div>
            <form class="form-horizontal" role="form" data-bind="visible: hasExternalLogin">
                <p data-bind="foreach: externalLoginProviders">
                    <button type="submit" class="btn btn-primary" data-bind="text: name, attr: { title: 'Log in using your ' + name() + ' account' }, click: login"></button>
                </p>
            </form>
        </div>
    </section>
</div>
<!-- /ko -->
